<div class="flex flex-col justify-center items-center m-2 w-64">
  <div class="w-44 rounded-full overflow-hidden bg-slate-500 inline-block">
    <img src="<%= avatar %>" alt="Team Member Picture" />
  </div>
  <p class="m-2 text-center text-xl"><%= name %></p>
  <p class="text-sm text-center"><%= description %></p>
  <div class="flex m-1">
    <!-- linkdin -->
    <a href="<%= linkedinurl %>"> <%- include('../svgs/linkedin.ejs') %> </a>
    <!-- github -->
    <a href="<%= githuburl %>"> <%- include('../svgs/github.ejs') %> </a>
  </div>
</div>
